# ---------------------------------------------
# Unity - carpetas generadas (NO versionar)
# ---------------------------------------------
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/
/[Mm]emoryCaptures/
/[Rr]ecordings/

# Asset meta huerfanos generados por Unity
/[Aa]ssets/AssetStoreTools*
/[Aa]ssets/Plugins/Editor/JetBrains*

# ---------------------------------------------
# IDEs / editores
# ---------------------------------------------
.vs/
.vscode/
.idea/
.gradle/
ExportedObj/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# ---------------------------------------------
# OS
# ---------------------------------------------
.DS_Store
Thumbs.db
desktop.ini

# ---------------------------------------------
# Builds / paquetes
# ---------------------------------------------
*.apk
*.aab
*.unitypackage
*.app
crashlytics-build.properties

# ---------------------------------------------
# Unity Addressables / Burst
# ---------------------------------------------
/[Aa]ssets/[Ss]treamingAssets/aa.meta
/[Aa]ssets/[Ss]treamingAssets/aa/*
/[Bb]urst[Dd]ebug[Ii]nformation_*/
sysinfo.txt
